.pageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40%;
    text-align: center;
}

.homeTitle{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.pageContainer p{
    font-size: 2rem;
    width: 100%;
}

.pageContainer > p{
    margin-bottom: 15px;
}

.linkContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.linkContainer p{
    width: 100%;
}

a{
    width: 45%;
    font-size: 1.8rem;
    padding: 5px;

    text-transform: capitalize;

    background-color: transparent;
    border: solid 2px #333533;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

a:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}